body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
    
}
.orange{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    background-image: linear-gradient(45deg,salmon, tomato);
    color: white;
    border-radius: 5px;
    padding: 5px,10px;
    font-weight: 700;
}
.middle-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}
.single-experience{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height:80%;
    background-color: white;
}
.buttom-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(lightSalmon,tomato);
    border-image-slice: 1;
}
#stack{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer{
    text-align: center;
    font-size: 10px;
}